* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0px;
    height: 55px;
    background-color: rgba(63, 63, 151, 0.648);
}

body {
    margin: 0px;
    padding: 0px;
    background-color: pink;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    color: white;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.nav-item {
    margin: 10px;
    width: 100%;
    height: 100%;
}

.brand-name {
    font-size: 150%;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    margin-top: 35%;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    margin-top: 80%; 
}

h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    margin-top: 105%; 
}

p {
    margin-bottom: 30px;
    margin-left: 30px;
    width: 30%;
    text-align: center;
}

a {
    color: pink;
}

a:hover {
    color: purple;
}

.main-tile-dimension {
    width: 100%;
    height: 100%;
    background-color: pink;
    color: white;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.image-container {
    height: 600px;
    width: 100%;
    margin-left: 30%;
}

.kaleigh {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: 50%;
    color: purple;
}

img {
    height: 600px;
    width: 400px;
    margin-top: 15px;
    border: 2px solid purple;
}

.tiny {
    color: whitesmoke;
}

.foothead {
    color: pink;
    font-size: 2em;
    padding-top: 5%;
}

.bottom {
    background-color: rgba(63, 63, 151, 0.648);
    color: pink;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-top: 5%;
}

.social {
    display: flex;
    flex-direction: row;
    width: 30%;
    font: 0.6em;
    padding-left: 5%;
    white-space: nowrap;
}

.copy {
    padding-top: 20%;
    margin-left: 90%;
    white-space: nowrap;
}
